body,
html {
  font-family: Lora, helvetica;
  font-size: 1rem; }

body * {
  box-sizing: border-box;
  color: #333; }

a {
  text-decoration: none;
  color: #4d8afa; }

code {
  background: #eee;
  padding: .25rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

p {
  line-height: 3rem; }

pre {
  font-size: 1.5rem;
  text-align: left;
  line-height: 2rem;
  overflow: scroll;
  padding: 1rem;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 80%;
  display: block;
  margin: 4rem auto;
  background: #eee;
  color: #333; }
  @media screen and (max-width: 768px) {
    pre {
      width: 95%; } }

@media screen and (max-width: 768px) {
  img.example {
    width: 95%; } }

.big-paragraph {
  text-align: center;
  font-size: 2rem;
  color: #666; }
  @media screen and (max-width: 768px) {
    .big-paragraph {
      font-size: 1.25rem; } }

.black-out {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #000;
  background: rgba(0, 0, 0, 0.75); }
  .black-out.hidden {
    display: none; }

.center {
  text-align: center; }

#intro h1 {
  text-align: center; }

.inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .inline-list li {
    display: inline-block; }

main {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  padding: 1rem; }
  main section,
  main header,
  main footer {
    padding: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #eee;
    border-bottom: 1px solid #fabd4d;
    -webkit-box-shadow: 0 0 30px #ccc;
    -moz-box-shadow: 0 0 30px #ccc;
    box-shadow: 0 0 30px #ccc; }
  main section h1,
  main header h1,
  main footer h1 {
    text-align: center;
    margin: 2rem; }
  main section img,
  main header img,
  main footer img {
    box-shadow: 0px 0px 100px #333;
    display: block;
    margin: 4rem auto; }
  @media screen and (max-width: 768px) {
    main section,
    main header,
    main footer {
      padding: .25rem .25rem 2rem .25rem; } }
  @media screen and (max-width: 768px) {
    main {
      width: 100%;
      margin-top: 2rem;
      padding: 0; } }

.menu-icon {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 26px;
  line-height: 0;
  text-align: center; }
  .menu-icon > svg {
    width: 18px;
    height: 15px; }
    .menu-icon > svg path {
      fill: #333; }

nav {
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 20%;
  overflow: auto; }
  nav header h2 {
    padding: 0;
    margin: 1rem; }
  nav header h4 {
    color: #ccc;
    font-weight: normal;
    padding: 0;
    margin: 1rem; }
  nav.drawer-out {
    width: 75%;
    -webkit-box-shadow: 0 0 100px #000;
    -moz-box-shadow: 0 0 100px #000;
    box-shadow: 0 0 100px #000;
    display: block; }
  nav ul {
    padding-left: 0;
    list-style-type: none; }
    nav ul li {
      padding: 0;
      border-bottom: 1px solid #ccc; }
      nav ul li:first-child {
        border-top: 1px solid #ccc; }
      nav ul li a {
        display: block;
        padding: 1rem;
        transition: background-color 250ms ease;
        font-family: Helvetica; }
        nav ul li a.active {
          background: #ccc; }
        nav ul li a:hover {
          background: #ccc; }
  @media screen and (max-width: 768px) {
    nav {
      display: none; } }

.sticky-header {
  display: none;
  background: #eee;
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  width: 100%;
  padding: .25rem; }
  .sticky-header h3 {
    padding: 0;
    margin: .5rem;
    display: inline; }
  @media screen and (max-width: 768px) {
    .sticky-header {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      z-index: 9; } }

#social-media {
  font-size: 1.5rem;
  text-align: center; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
